*.o
*.orig
dmenu-flexipatch/config.h
dmenu-flexipatch/patches.h
dwm-flexipatch/config.h
dwm-flexipatch/patches.h
st-flexipatch/config.h
st-flexipatch/patches.h
slock/config.h
dmenu-flexipatch/dmenu
dmenu-flexipatch/dmenu_path
dmenu-flexipatch/dmenu_run
dmenu-flexipatch/stest
dwm-flexipatch/dwm
dwm-flexipatch/dwm-msg
slock/slock
st-flexipatch/st
st-scrollback-0.8.5.diff
